<app-header></app-header>
<!-- wishlist empty -->
<div
  *ngIf="orders.length == 0"
  class="d-flex align-items-center justify-content-center"
  style="min-height: 100vh"
>
  <div class="text-center">
    <i class="fa-solid fa-truck-fast display-1 text-danger"></i>
    <i class="fa-solid fa-store-slash display-6 text-danger ms-2 mb-3"></i>
    <p class="fs-1">
      <span class="text-danger fw-bolder">No Order Found ! </span>
    </p>
    <p class="lead">
      Looks like you have not made your order yet,<br />
      Go ahead and explore our tasty foods.
    </p>
    <a routerLink="/view-cart" class="btn btn-danger">Go to Cart</a>
  </div>
</div>

<section class="vh-100" *ngIf="orders.length != 0">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="mt-5"></div>
        <div
          *ngFor="let order of orders"
          class="bg-white shadow card-stepper text-black mb-3"
          style="border-radius: 16px"
        >
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div>
                <h5 class="mb-0">
                  <span class="fw-bold">Order ID: </span>
                  <span class="text-primary font-weight-bold"
                    >#{{ order.orderID.toUpperCase() }}
                  </span>
                </h5>
                <!-- modal trigger button -->
                <a
                  type="button"
                  class="mt-3 btn btn-danger shadow"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  View Detailes
                </a>

                <!-- Modal start -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header bg-danger text-white fw-bold">
                        Order Detailes
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col">
                            <p class="small text-muted mb-1">Date</p>
                            <p>{{ order.dateAndTime.slice(0, 15) }}</p>
                          </div>
                          <div class="col">
                            <p class="small text-muted mb-1">Order ID.</p>
                            <p>{{ order.orderID.toUpperCase() }}</p>
                          </div>
                          <div class="col">
                            <p class="small text-muted mb-1">Status</p>
                            <p>{{ order.status }}</p>
                          </div>
                        </div>

                        <p class="small text-muted mb-1">Products</p>

                        <div
                          class="row bg-light"
                          *ngFor="let product of order.products"
                        >
                          <div class="col">{{ product.title }}</div>
                          <div class="col">{{ product.count }}</div>
                          <div class="col">${{ product.price }}</div>
                        </div>
                        <div class="row my-2">
                          <div
                            class="col-md-6 offset-md-6 col-lg-4 offset-lg-8"
                          >
                            <p class="small text-muted mb-1">Total</p>
                            <p class="lead fw-bold mb-0" style="color: #f37a27">
                              ${{ order.amount }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal start -->
              </div>
              <div class="text-end">
                <p class="mb-0">
                  <span class="fw-bold">Expected Arrival: </span>
                  <span>31/02/23</span>
                </p>
                <p class="mb-0">
                  <span class="fw-bold">USPS: </span>
                  <span class="font-weight-bold">234094567242423422898</span>
                </p>
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="d-lg-flex align-items-center text-success">
                <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                <div>
                  <p class="fw-bold mb-1">Order</p>
                  <p class="fw-bold mb-0">Processed</p>
                </div>
              </div>
              <div class="d-lg-flex align-items-center">
                <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                <div>
                  <p class="fw-bold mb-1">Order</p>
                  <p class="fw-bold mb-0">Shipped</p>
                </div>
              </div>
              <div class="d-lg-flex align-items-center">
                <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                <div>
                  <p class="fw-bold mb-1">Order</p>
                  <p class="fw-bold mb-0">En Route</p>
                </div>
              </div>
              <div class="d-lg-flex align-items-center">
                <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                <div>
                  <p class="fw-bold mb-1">Order</p>
                  <p class="fw-bold mb-0">Arrived</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
