<!--Wishlist  Section-->
<section class="py-5">
  <div class="container px-2 px-lg-2 mt-5">
    <div
      class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img
            class="card-img-top"
            src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
            alt="..."
          />
          <!-- Product details-->
          <div class="card-body p-3">
            <div class="float-start">
              <!-- Product name-->
              <h5
                class="mb-2 fw-bolder text-danger"
                routerLink="/view-product/1"
              >
                Fancy Product
              </h5>
              <span class="bg-light p-1 rounded-pill">Fast Food</span>
              <!-- Product price-->
              <h5 class="mt-2">$40.00 - $80.00</h5>
            </div>
            <div class="float-end">
              <span class="ms-4 text-danger"
                ><i class="fa fa-trash fa-fade fa-2x"></i>
              </span>
              <div class="text-success mt-3">
                <i class="ms-3 fa fa-solid fa-cart-plus fa-beat fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
