<!-- cart section -->
<div class="container mt-5">
  <div class="row">
    <div class="mt-5"></div>
    <div class="col-lg-8">
      <!-- table -->
      <ul class="border border-danger rounded p-3">
        <li class="d-flex justify-content-around align-items-center">
          <div>
            <img
              width="70px"
              src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/512/63007-shopping-cart-icon.png"
              alt="product image"
            />
          </div>
          <div>
            <a class="btn" routerLink=""
              ><h5><b>Super Mario burger</b></h5></a
            >
          </div>
          <div>
            <input
              type="num"
              class="form-control"
              value="1"
              style="max-width: 3rem"
            />
          </div>
          <div class="h5">3000</div>
          <div>
            <a class="text-danger btn"
              ><i class="fa-solid fa-trash fa-2x"></i
            ></a>
          </div>
        </li>
      </ul>
      <div class="mt-4 mb-3">
        <button class="btn btn-danger">Empty Cart</button>
        <a routerLink="" class="btn btn-secondary ms-5">Shop More</a>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 border border-danger rounded p-3">
      <div>
        <p>
          Total:
          <span class="text-danger"> 3000 </span>
        </p>
        <p>No of Items: <span>0</span></p>
        <h5 class="animate__animated animate__shakeX">
          Grant Total: <span>3000</span>
        </h5>
      </div>

      <hr />

      <div class="mt-2">
        <a href="" style="text-decoration: none; float: left"
          ><i class="fa-solid fa-tag"></i> offers</a
        >

        <button style="float: right" class="btn btn-success">Check Out</button>
      </div>
    </div>
  </div>
</div>
